openapi: 3.1.0
info:
  title: Blog Rust Assets API
  version: 1.0.0
  description: |
    File management service for mogumogu.dev — lists and manages uploaded
    assets stored in S3 with metadata in Postgres. Authentication accepts
    either a user Bearer JWT or the shared API_SECRET Bearer token.
  x-api-id: assets

servers:
  - url: https://api.mogumogu.dev/rust
    description: Production
  - url: http://localhost:8002
    description: Local development (direct to the Rust service)

tags:
  - name: Assets
    description: Uploaded asset listing and management endpoints.

paths:
  /assets:
    get:
      tags: [Assets]
      operationId: listAssets
      summary: List uploaded assets
      description: |
        Returns a paginated list of uploaded assets, newest first
        (`created_at DESC`).

        Auth accepts **either** a user JWT (`Authorization: Bearer <token>`)
        **or** the shared `API_SECRET` (`Authorization: Bearer <secret>`).
      security:
        - bearerAuth: []
        - apiSecret: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
          description: 1-based page number. Values below 1 are clamped to 1.
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 20
          description: Page size. Clamped to the 1–100 range.
      responses:
        '200':
          description: A page of assets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Assets]
      operationId: uploadAssets
      summary: Upload one or more files
      description: |
        Accepts a `multipart/form-data` body with one or more `file` fields.
        Each file is SHA-256-deduplicated before writing to S3. Returns an
        array of `AssetResponse` objects in the same order as the fields
        (existing assets are returned as-is without re-uploading).

        Auth accepts **either** a user JWT (`Authorization: Bearer <token>`)
        **or** the shared `API_SECRET` (`Authorization: Bearer <secret>`).
      security:
        - bearerAuth: []
        - apiSecret: []
      parameters:
        - name: bucket
          in: query
          required: false
          schema:
            type: string
          description: |
            Logical bucket name to upload into (one of `GET /assets/buckets`).
            Falls back to the default bucket when omitted; unknown names are
            rejected with 400.
          example: blog-hackernews-images
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: |
                    One or more files to upload. Repeat this field for each
                    file in a single request.
                  type: string
                  format: binary
      responses:
        '201':
          description: All files uploaded (or deduplicated) successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /assets/buckets:
    get:
      tags: [Assets]
      operationId: listBuckets
      summary: List selectable buckets
      description: |
        Returns the buckets available to this environment as logical names —
        the environment bucket prefix (`dev-` locally, none in prod) is used
        to filter the R2 bucket list and is stripped from the returned names.
        `default` is the bucket used when an upload does not specify one.

        Auth accepts **either** a user JWT (`Authorization: Bearer <token>`)
        **or** the shared `API_SECRET` (`Authorization: Bearer <secret>`).
      security:
        - bearerAuth: []
        - apiSecret: []
      responses:
        '200':
          description: Buckets for this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBucketsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /assets/{id}:
    get:
      tags: [Assets]
      operationId: getAsset
      summary: Get a single asset
      description: |
        Returns one asset by id, including the derived `url`.

        Auth accepts **either** a user JWT (`Authorization: Bearer <token>`)
        **or** the shared `API_SECRET` (`Authorization: Bearer <secret>`).
      security:
        - bearerAuth: []
        - apiSecret: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Asset identifier.
      responses:
        '200':
          description: The asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Assets]
      operationId: updateAsset
      summary: Update asset metadata
      description: |
        Partial update of asset metadata. Only `file_name` and `status` can
        change; the stored object (`object_key`, bytes) is immutable. Omitted
        fields keep their current value.

        Auth accepts **either** a user JWT (`Authorization: Bearer <token>`)
        **or** the shared `API_SECRET` (`Authorization: Bearer <secret>`).
      security:
        - bearerAuth: []
        - apiSecret: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Asset identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        '200':
          description: The updated asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Assets]
      operationId: deleteAsset
      summary: Delete an asset
      description: |
        Deletes the stored object from S3 first, then the DB record.
        Deletion is unconditional even if posts still reference the asset
        (a reference guard is planned with orphan detection).

        Auth accepts **either** a user JWT (`Authorization: Bearer <token>`)
        **or** the shared `API_SECRET` (`Authorization: Bearer <secret>`).
      security:
        - bearerAuth: []
        - apiSecret: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Asset identifier.
      responses:
        '204':
          description: Asset deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User access token issued by the auth service.
    apiSecret:
      type: http
      scheme: bearer
      description: Shared API_SECRET used by trusted internal callers.

  responses:
    BadRequest:
      description: |
        Malformed request (e.g. the path id is not a valid UUID, a broken
        multipart body, or a file over the upload size limit).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid, or expired Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: No asset exists with the given id.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    ListBucketsResponse:
      type: object
      required: [buckets, default]
      properties:
        buckets:
          type: array
          items:
            type: string
          description: Logical bucket names available in this environment.
          example: [blog-posts-assets, blog-hackernews-images]
        default:
          type: string
          description: Logical name of the bucket used when none is specified.
          example: blog-posts-assets
    UpdateAssetRequest:
      type: object
      properties:
        file_name:
          type: string
          description: New display file name.
          example: renamed.png
        status:
          type: string
          description: New processing status.
          example: active
    ListAssetsResponse:
      type: object
      required: [items, total, page, per_page]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AssetResponse'
          description: Assets on this page, newest first.
        total:
          type: integer
          format: int64
          description: Total number of assets across all pages.
        page:
          type: integer
          format: int64
          description: The 1-based page number that was returned.
        per_page:
          type: integer
          format: int64
          description: The page size that was applied.
    AssetResponse:
      type: object
      required:
        - id
        - bucket
        - object_key
        - file_name
        - mime_type
        - size_bytes
        - sha256
        - kind
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique asset identifier.
        bucket:
          type: string
          description: S3 bucket name where the object is stored.
        object_key:
          type: string
          description: S3 object key (UUID + original extension).
          example: 550e8400-e29b-41d4-a716-446655440000.png
        file_name:
          type: string
          description: Original file name provided by the uploader.
          example: photo.png
        mime_type:
          type: string
          description: MIME type detected from the Content-Type of the uploaded part.
          example: image/png
        size_bytes:
          type: integer
          format: int64
          description: File size in bytes.
        sha256:
          type: string
          description: Hex-encoded SHA-256 digest of the file content (used for deduplication).
          example: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
        width:
          type: ['integer', 'null']
          format: int32
          description: Image width in pixels (populated for image assets; null otherwise).
        height:
          type: ['integer', 'null']
          format: int32
          description: Image height in pixels (populated for image assets; null otherwise).
        duration_ms:
          type: ['integer', 'null']
          format: int32
          description: Media duration in milliseconds (populated for audio/video; null otherwise).
        kind:
          type: string
          enum: [image, video, audio, document]
          description: Asset kind derived from the MIME type.
        status:
          type: string
          description: Processing status of the asset.
          example: ready
        url:
          type: ['string', 'null']
          description: |
            Fully-qualified URL to retrieve the asset
            (`{UPLOAD_BASE_URL}/{object_key}`). Null when no base URL is
            configured on the server.
          example: https://cdn.mogumogu.dev/550e8400-e29b-41d4-a716-446655440000.png
        created_at:
          type: string
          format: date-time
          description: Timestamp when the asset record was first created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the most recent update to the asset record.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
