openapi: 3.1.0
info:
  title: Comments API
  version: 1.0.0
  description: |
    Reader comments on blog posts for mogumogu.dev. Comments are addressed by
    the post's classification/category/slug. Listing is public; creating a
    comment requires an authenticated user (added in a later revision).
  x-api-id: comments

servers:
  - url: https://api.mogumogu.dev/rust
    description: Production
  - url: http://localhost:8002
    description: Local development (direct to the Rust service)

tags:
  - name: Comments
    description: List and create comments on a post.

paths:
  /comments/{classification}/{category}/{slug}:
    get:
      tags: [Comments]
      operationId: listComments
      summary: List comments on a post
      description: Returns every comment on the post, oldest first. Public.
      security: []
      parameters:
        - $ref: '#/components/parameters/Classification'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: Comments on the post (possibly empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
        '404':
          description: No post exists for the given path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Comments]
      operationId: createComment
      summary: Post a comment
      description: |
        Creates a comment authored by the authenticated user (taken from the
        JWT — not the request body). Returns the created comment in list-item
        shape.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Classification'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Slug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '200':
          description: The created comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Empty content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No post exists for the given path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /comments/{classification}/{category}/{slug}/{comment_id}:
    patch:
      tags: [Comments]
      operationId: updateComment
      summary: Edit your comment
      description: Edits the comment; only the author (from the JWT) may do so.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Classification'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/CommentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '200':
          description: The updated comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Empty content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Comment not found or not owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Comments]
      operationId: deleteComment
      summary: Delete your comment
      description: Removes the comment; only the author (from the JWT) may do so.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Classification'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/CommentId'
      responses:
        '204':
          description: Deleted. No body.
        '401':
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Comment not found or not owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /comments/{classification}/{category}/{slug}/{comment_id}/admin:
    patch:
      tags: [Comments]
      operationId: setAdminReply
      summary: Set the admin reply
      description: |
        Sets (or replaces) the admin reply on any comment. Restricted to admins
        (the JWT email must be in the ADMIN_EMAILS allowlist).
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Classification'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/CommentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminReplyRequest'
      responses:
        '200':
          description: The comment with its admin reply.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Empty reply.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Comment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Comments]
      operationId: clearAdminReply
      summary: Clear the admin reply
      description: Removes the admin reply from a comment. Admin-only.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Classification'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/CommentId'
      responses:
        '204':
          description: Reply cleared. No body.
        '401':
          description: Missing or invalid Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated user is not an admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Comment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Classification:
      name: classification
      in: path
      required: true
      schema:
        type: string
    Category:
      name: category
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
    CommentId:
      name: comment_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    CreateCommentRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
    AdminReplyRequest:
      type: object
      required: [reply]
      properties:
        reply:
          type: string
    Comment:
      type: object
      required: [id, email, username, content, created_at]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        username:
          type: string
        photo:
          type: [string, 'null']
          description: Author's current avatar URL.
        content:
          type: string
        created_at:
          type: string
          format: date-time
        reply:
          type: [string, 'null']
          description: Admin reply, if any.
        replied_at:
          type: [string, 'null']
          format: date-time
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
