openapi: 3.1.0
info:
  title: Diet API
  version: 1.0.0
  description: |
    Calorie tracking for mogumogu.dev. Every row belongs to one user, so each
    endpoint reads the caller from their JWT and only ever touches that user's
    own rows. Derived numbers (BMI, the deficit needed to reach a goal) are
    computed on read and never stored.
  x-api-id: diet

servers:
  - url: https://api.mogumogu.dev/rust
    description: Production
  - url: http://localhost:8002
    description: Local development (direct to the Rust service)

tags:
  - name: Diet
    description: The caller's body profile and calorie records.

paths:
  /diet/profile:
    get:
      tags: [Diet]
      operationId: getDietProfile
      summary: Get my body profile
      description: |
        Returns the caller's height, goal weight and basal metabolic rate — the
        inputs every derived number is computed from. 404 until the profile has
        been created.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: The caller's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DietProfile'
        '401':
          description: Missing, malformed or expired token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The caller has not created a profile yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags: [Diet]
      operationId: upsertDietProfile
      summary: Save my body profile
      description: |
        Creates the caller's profile on the first call and replaces it after
        that. The body carries the whole profile, so an omitted optional field
        clears the stored value.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertDietProfile'
      responses:
        '200':
          description: The stored profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DietProfile'
        '400':
          description: height_cm or bmr_kcal is not greater than zero.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing, malformed or expired token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: The body is not valid JSON or height_cm is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /diet/profile/stats:
    get:
      tags: [Diet]
      operationId: getDietProfileStats
      summary: Get my derived numbers
      description: |
        BMI, and how far the goal weight is in kilograms, in kcal, and in hours
        of walking or running. All computed on read from the profile plus one
        weight, never stored. The weight comes from `?weight=` when given —
        that is how the edit modal previews a value being typed — and otherwise
        from the most recent recorded day.
      security:
        - bearerAuth: []
      parameters:
        - name: weight
          in: query
          required: false
          description: Weight in kg to compute with instead of the recorded one.
          schema:
            type: number
            format: double
      responses:
        '200':
          description: The derived numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DietProfileStats'
        '400':
          description: No weight was given and none has been recorded, or the weight is not above zero.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing, malformed or expired token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The caller has not created a profile yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    DietProfile:
      type: object
      required: [height_cm, updated_at]
      properties:
        height_cm:
          type: number
          format: double
          examples: [176.0]
        target_weight_kg:
          type: [number, 'null']
          format: double
          examples: [65.0]
        bmr_kcal:
          type: [integer, 'null']
          examples: [1700]
        updated_at:
          type: string
          format: date-time
    UpsertDietProfile:
      type: object
      required: [height_cm]
      properties:
        height_cm:
          type: number
          format: double
          examples: [176.0]
        target_weight_kg:
          type: [number, 'null']
          format: double
          examples: [65.0]
        bmr_kcal:
          type: [integer, 'null']
          examples: [1700]
    DietProfileStats:
      type: object
      required: [weight_kg, bmi]
      description: |
        Everything below `bmi` needs a goal weight, so those are null until one
        is set.
      properties:
        weight_kg:
          type: number
          format: double
          examples: [80.0]
        bmi:
          type: number
          format: double
          examples: [25.8]
        target_weight_kg:
          type: [number, 'null']
          format: double
          examples: [65.0]
        remaining_kg:
          type: [number, 'null']
          format: double
          examples: [15.0]
        remaining_kcal:
          type: [number, 'null']
          format: double
          examples: [115500.0]
        walk_hours:
          type: [number, 'null']
          format: double
          examples: [525.0]
        walk_km:
          type: [number, 'null']
          format: double
          examples: [2887.5]
        run_hours:
          type: [number, 'null']
          format: double
          examples: [160.4]
        run_km:
          type: [number, 'null']
          format: double
          examples: [1443.8]
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
